.main-container{
  display: flex;
  align-items: center;
  padding: 100px;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

#heading-text{
  color: white;
}

.input-field-add-btn-container{
  border: 10px solid #AE6CF8;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  width: fit-content;
}

.add-btn{
  background-color: #4EB7F8;
  color: white;
  border-radius: 0px 0px 0px 0px;
  font-weight: 800;
  font-size: 16px;
  padding: 14px;
  padding-left: 25px;
  padding-right: 25px;
  border: 0px none #000000;
  cursor: pointer;
}

.add-btn:hover{
  background-color:  #76cbff;
}

#input-field{
  padding: 10px;
  padding-left: 15px;
  width: 600px;
  height: 26px;
  border: 0px none #000000;
  font-size: 16px;
}

#input-field:focus, .add-btn:focus, .clear-all-btn{
  outline: none;
}

.list-container{
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  width: 690px;
  border: 10px solid #AE6CF8;
  border-radius: 10px 10px 10px 10px;
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  visibility: hidden;
}

.list-container li{
  padding-top: 20px;
  padding-bottom: 20px;
  list-style-type: none;
}

.clear-all-btn-container{
  display: flex;
  padding: 10px;
  justify-content: center;
}

.clear-all-btn{
  background-color: red;
  color: white;
  border-radius: 0px 0px 0px 0px;
  font-weight: 800;
  font-size: 16px;
  padding: 14px;
  padding-left: 25px;
  padding-right: 25px;
  border: 0px none #000000;
  cursor: pointer;
}

.clear-all-btn:hover{
  background-color: rgb(255, 64, 64);
}


@media screen and (max-width: 734px){
  #input-field{
    width: 400px;
  }

  .list-container{
    width: 490px;
  }
}

@media screen and (max-width: 576px){
  #input-field{
    width: 300px;
  }

  .list-container{
    width: 390px;
  }
}

@media screen and (max-width: 430px){
  #heading-text{
    font-size: 25px;
  }

  #input-field{
    width: 200px;
    height: 18px;
  }

  .add-btn{
    padding: 10px;
  }

  .list-container{
    width: 290px;
  }
}